/*home page css*/
.homeBody{
    margin: auto;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: auto;
    background-color: #fffae6;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
    margin: auto;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
    margin-left: 50px;
  }


  @media only screen and (max-width: 900px){
    .radioPlayerDiv{

flex-wrap: wrap;

    }
    
  }